button {
  outline: 0;
  color: #000;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

#toolbar-title {
  margin-left: 20px;
  color: #000;
}
mat-toolbar {
  background-color: #fff !important;
}

.logout-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logout-cnt .uname {
  font-size: 14px;
}

.logout-cnt img {
  filter: invert(1);
}
