<div class="tab-container">
  <div class="row">
    <div class="col-md-12">
      <table class="table tbale-bordered table-hover">
        <tr>
          <td colspan="6">
            <h2>Loan Info</h2>
          </td>
        </tr>
        <tr>
          <td class="text-left">Loan Number:</td>
          <td>1000185916</td>
          <td>UPB:</td>
          <td>No UPB For This Loan</td>
          <td>Payoff Amount:</td>
          <td>$0.00</td>
        </tr>
        <tr>
          <td>Interest Rate:</td>
          <td>5.000%</td>
          <td>Deferred UPB:</td>
          <td>$0.00</td>
          <td>Investor:</td>
          <td>R02</td>
        </tr>
        <tr>
          <td>Next Due Date:</td>
          <td>3/1/2012</td>
          <td>Investor Name:</td>
          <td>Tavistock</td>
          <td>PITI Payment:</td>
          <td>$173.91</td>
        </tr>
        <tr>
          <td>Next Due Date:</td>
          <td>3/1/2012</td>
          <td>Investor Name:</td>
          <td>Tavistock</td>
          <td>PITI Payment:</td>
          <td>$173.91</td>
        </tr>
        <tr>
          <td>Investor Loan Number:</td>
          <td>1000185916</td>
          <td>Fidelity Contact Status:</td>
          <td>No Contact</td>
          <td>Loan Status:</td>
          <td>Purged Loan</td>
        </tr>
        <tr>
          <td>P&I Payment:</td>
          <td>$0.00</td>
          <td>Lien:</td>
          <td>1ST MORTGAGE</td>
          <td>T&I Payment:</td>
          <td>$173.91</td>
        </tr>
        <tr>
          <td>Prior Servicer Loan:</td>
          <td>1400087921</td>
          <td>Acquisition Date:</td>
          <td>12/28/2009</td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table tbale-bordered table-hover">
        <tr>
          <td colspan="2">
            <h2>Borrower Details (Monthly)</h2>
          </td>
        </tr>
        <tr>
          <td class="text-left">Borrower Name:</td>
          <td>HORTON, SEAN</td>
        </tr>
        <tr>
          <td>Borrower SSN:</td>
          <td>XXXXX0029</td>
        </tr>
        <tr>
          <td>Income (Gross):</td>
          <td>$3,867.25</td>
        </tr>
        <tr>
          <td>Assets:</td>
          <td>$0.00</td>
        </tr>
        <tr>
          <td>Debt Payment:</td>
          <td>$4,234.54</td>
        </tr>
        <tr>
          <td>DTI:</td>
          <td>1.094974%</td>
        </tr>
        <tr>
          <td>Current HTI:</td>
          <td>28.820%</td>
        </tr>
        <tr>
          <td>FICO:</td>
          <td>512</td>
        </tr>
        <tr>
          <td>3month Pmt%:</td>
          <td>0.000%</td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table tbale-bordered table-hover">
        <tr>
          <td colspan="2">
            <h2>Property Info</h2>
          </td>
        </tr>
        <tr>
          <td class="text-left">Property Address:</td>
          <td>406 MAPLE ST,Bloomingdale,GA,31302</td>
        </tr>
        <tr>
          <td>Valuation Type:</td>
          <td>Exterior Appraisal</td>
        </tr>
        <tr>
          <td>Valuation Date:</td>
          <td>11/29/2014</td>
        </tr>
        <tr>
          <td>Valuation Value:</td>
          <td>$110,000.00</td>
        </tr>
        <tr>
          <td>Current LTV:</td>
          <td>ZERO UPB</td>
        </tr>
        <tr>
          <td>Mailing Address:</td>
          <td>406 MAPLE STBLOOMINGDALE, GA 31302</td>
        </tr>
        <tr>
          <td>Product Type:</td>
          <td>VA RESIDENTIAL</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table tbale-bordered table-hover">
        <tr>
          <td colspan="2" class="text-left">Data Refresh As Of</td>
        </tr>
        <tr>
          <td class="text-left">Fidelity Data Date:</td>
          <td>6/8/2018</td>
        </tr>
        <tr>
          <td>Fidelity Loaded:</td>
          <td>6/3/2023</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">Other Details</td>
        </tr>
        <tr>
          <td colspan="2">Priority / Life Of Loan Note:</td>
        </tr>
      </table>
    </div>
  </div>
</div>
