:host {
  color: #000;
}
.tab-container {
  background-color: #fff;
  border: solid 1px #eee;
  padding: 0;
  border-radius: 5px;
}

.tab-container h2 {
  padding: 0 10px;
}
/* table.table-inner {
  border: solid 1px #000 !important;
} */
table.table .thead-dark th {
  color: #000;
  background: #eee;
  border: none;
}
.tab-container-cnt {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.loan-section {
  grid-column-start: 1;
  grid-column-end: 4;
}
